<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center" id="form-title">{{ titulo }}</h2>
            <form [formGroup]="formVenta" (ngSubmit)="agregarOEditar()">
                <div class="form-group">
                    <label for="client">Cliente</label>
                    <select class="form-control" id="client" formControlName="id_cliente" required>
                        <option *ngFor="let cliente of clientes" [value]="cliente.id">[{{ cliente.id }} {{ cliente.nombre_cliente }} ]</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="service">Servicio</label>
                    <select class="form-control" id="service" formControlName="id_servicio" required>
                        <option *ngFor="let servicio of servicios" [value]="servicio.id">[ {{ servicio.id }} {{servicio.nombre_servicio }} ]</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="employee">Responsable</label>
                    <select class="form-control" id="employee" formControlName="id_responsable" required>
                        <option *ngFor="let empleado of empleados" [value]="empleado.id">[{{ empleado.id }} {{ empleado.nombre_empleado }} ]</option>
                    </select>
                </div>
                <button type="button" class="btn btn-danger" routerLink='/venta/lista-venta'>Cancelar</button>
                <button type="submit" class="btn btn-success" [disabled]="formVenta.invalid">Guardar</button>
            </form>
        </div>
    </div>
</div>
