<app-sidebar></app-sidebar>
<section class="ochenta">
    <div class="container mt-4">
        <div class="mx-3">
            <span class="h1">
                Clientes
            </span>
            <div class="card-body mt-4">
                <span class="h3">
                    Gestionar
                </span>
                <button class="btn btn-dark btn-lg float-end" routerLink='/cliente/registro-cliente'>Agregar cliente</button>
                <table class="table table-hover mt-4">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre Cliente</th>
                            <th>Teléfono</th>
                            <th>Correo</th>
                            <th>Dirección</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cliente of clientes">
                            <td>{{ cliente.id }}</td>
                            <td>{{ cliente.nombre_cliente }}</td>
                            <td>{{ cliente.telefono_cliente }}</td>
                            <td>{{ cliente.correo_cliente }}</td>
                            <td>{{ cliente.direccion }}</td>
                            <td>
                                <i class="fa-solid fa-pen-to-square me-3" style="color: #25a701; cursor: pointer;" (click)="editarCliente(cliente.id)"></i>
                                <i (click)="eliminar(cliente)" class="fa-solid fa-trash" style="color: #c00c0c; cursor: pointer;"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>    
</section>
