<app-sidebar></app-sidebar>
<section class="ochenta">
    <div class="container mt-4">
        <div class="mx-3">
            <span class="h1">
                Usuarios
            </span>
            <div class="card-body mt-4">
                <span class="h3">
                    Gestionar
                </span>
                <button class="btn btn-dark btn-lg float-end" routerLink='/usuario/registro-usuario'>Agregar usuario</button>
                <table class="table table-hover mt-4">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre de Usuario</th>
                            <th>Correo</th>
                            <th>Contraseña</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarios">
                            <td>{{ usuario.id }}</td>
                            <td>{{ usuario.nombre_usuario }}</td>
                            <td>{{ usuario.correo }}</td>
                            <td> {{usuario.contrasena}} </td>
                            <td>
                                <i class="fa-solid fa-pen-to-square me-3" style="color: #25a701; cursor: pointer;" (click)="editarUsuario(usuario.id)"></i>
                                <i (click)="eliminar(usuario)" class="fa-solid fa-trash" style="color: #c00c0c; cursor: pointer;"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>    
</section>
