<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center" id="form-title">{{ titulo }}</h2>
            <form [formGroup]="formCliente" (ngSubmit)="agregarOEditar()">
                <div class="form-group">
                    <label for="clientName">Nombre del Cliente</label>
                    <input type="text" class="form-control" id="clientName" formControlName="nombre_cliente" (input)="onInput($event)" required>
                </div>
                <div class="form-group">
                    <label for="email">Correo</label>
                    <input type="email" class="form-control" id="email" formControlName="correo_cliente" required>
                </div>
                <div class="form-group">
                    <label for="phone">Teléfono</label>
                    <input type="text" class="form-control" id="phone" formControlName="telefono_cliente" (input)="onTelefonoInput($event)" required>
                </div>
                <div class="form-group">
                    <label for="address">Dirección</label>
                    <input type="text" class="form-control" id="address" formControlName="direccion" required>
                </div>
                <button type="button" class="btn btn-danger" routerLink='/cliente/lista-cliente'>Cancelar</button>
                <button type="submit" class="btn btn-success" [disabled]="formCliente.invalid">Guardar</button>
            </form>
        </div>
    </div>
</div>
